@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
}

:root {
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --clr-grey: #707070;
  --clr-bunker: #131921;
  --clr-ebony-clay: #232f3e;
  --clr-orange: #FF9900;
  --clr-orange-dark: #cc8111;
}

body {
  margin: 0;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  max-width: 1200px;
  margin: 20px auto 0;
  
  padding-left: 20px;
  font-size: 2.15em;
}

h2:not(.product__overview h2) {
  padding-left: 20px;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  background-color: var(--clr-bunker);
}

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__brand img {
  max-width: 125px;
  height: auto;
}

.nav__brand h1 {
  color: var(--clr-white);
  font-family: "Lalezar";
  font-size: 2.5em;
}

.nav__links {
  background-color: var(--clr-ebony-clay);
  grid-column: 1 / span 3;

  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.nav__links li {
  margin: 0 15px;
}

.nav__links li a {
  text-decoration: none;
  color: var(--clr-white);
}

.nav__links li a:hover {
  color: var(--clr-orange);
}

.nav__search {
  padding: 10px;
  border-radius: 6px;
  min-width: 50%;
}

.nav__search:hover {
  outline: 1px solid var(--clr-orange);
}

.nav__connect {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--clr-orange);
  color: var(--clr-black);

  border: none;
  border-radius: 4px;

  font-family: "Lalezar";
  font-size: 1.25em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.nav__connect:hover {
  background-color: var(--clr-orange-dark);
}

.cards__section {
  max-width: 1200px;
  margin: 0 auto 50px;
  padding: 0 20px;
}

.cards__section h3 {
  font-size: 1.75em;
  margin: 20px 0;
}

.cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  margin-top: 20px;
}

.card {
  width: 300px;
  height: 400px;

  margin: 10px auto;

  cursor: pointer;
  position: relative;

  transition: all 250ms ease;
}

.card:hover {
  box-shadow: 0 0 5px var(--clr-grey);
}

.card__image {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card__image img {
  max-width: 100%;
}

.card__info {
  width: 100%;

  background-color: var(--clr-white);

  padding: 5px 10px;

  position: absolute;
  bottom: 0;
  left: 0;
}

.card__info h4 {
  font-family: "Open Sans";
  font-size: 1.25em;
  font-weight: 400;
}

.card__info .rating {
  color: yellow;
  margin: 5px 0;
}

.card__info p {
  font-family: "Open Sans";
  font-size: 0.95em;
  font-weight: 600;
  margin-top: 5px;
}